<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>decodeSAXS-check</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">

</head>
<body>
<script src="{% static "./header.js" %}"></script>

<div class="page-header" id="banner" style="margin-left: 16%;margin-right: 16%">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Checking Results</h1>
        </div>
    </div>
    <hr>
</div>

<div style="margin-left:16%; margin-top:2.5%; margin-right:16%">
    <h4 style="color:cornflowerblue">Process Information</h4>
    <hr>
    <p>Each job has an own ID, you can input your Job ID to check the results</p>
    <p>Meanwile, if you remember the Job ID which has finished previously, it is also works.</p>
</div>

<form action="/checkresult/" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="form-group" style="margin-left:16%; margin-top:1%; margin-right:16%">
            <label class="col-form-label" for="inputDefault">Job ID</label>
            <input type="text" class="form-control" placeholder="Please input your Job ID" id="check_id"
                   name="check_id">
        </div>
        <div align="center" style="margin-left:16%; margin-top:1%; margin-right:16%">
            <button type="submit" class="btn btn-primary" id="checkresult">check</button>
        </div>
    </fieldset>
</form>


<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_assets/js/custom.js" %}"></script>

<!--
<script>
    function mycallback(data){
        var dtarget=document.getElementById("downloadlink");
        var ntarget=document.getElementById("noresult");
        if(data["status"] == "yes"){
            dtarget.href=data["downloadlink"];
            ntarget.style.display="none";
            dtarget.style.display="" ;}
        else{
            dtarget.style.display="none";
            ntarget.style.display="";
            }

    }
    $("#checkresult").click(function () {
        var $formData=new FormData();
        $formData.append("check_id",$("#check_id").val());
        $.ajax({
            url:"/checkresult/",
            type:"POST",
            data:$formData,
            dataType:"json",
            headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
            success:function (data) {
                mycallback(data);
            }
        })
    })
</script>
-->
<script src="{% static "./footer.js" %}"></script>
</body>

</html>

