<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>decodeSAXS-history</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">
    <link rel="stylesheet" href="{% static "./_vendor/bootstrap/dist/css/bootstrap-table.css" %}">

</head>
<body>
<script src="{% static "./header.js" %}"></script>

<div class="page-header" id="banner" style="margin-left: 16%;margin-right: 16%">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Submit History</h1>
        </div>
    </div>
    <hr></hr>
    <table id="listHistory">
    </table>
</div>

<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap-table.js" %}"></script>


<script>
    function gethistory() {
        $('#listHistory').bootstrapTable('destroy');
        $('#listHistory').bootstrapTable({
            url: '/checkhistory/',
            method: 'get',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8", // 默认是：'application/json'， 不改的话，后台获取不到数据!

            cache: false,   //是否启用 数据缓存
            pagination: true,  //是都分页
            sidePageination: 'client',   //谁来分页，客户端：'client'，服务端：'server'
            pageNumber: 1,   //默认显示 首页
            pageSize: 10,     //每页需要显示的数据量
            pageList: [10, 25, 50],  //可供选择的，每页需要显示的数据量
            height: 600,       //表格高度
            uniqueId: 'job_name',
            silent: true,    // 刷新服务器数据
            showExport: true,
            exportDataType: 'all',

            columns: [{
                field: 'job_name',
                title: 'Job name',
                valign: 'middle',
                align: 'center',
                halign: 'center'
            }, {
                field: 'status',
                title: 'status',
                valign: 'middle',
                align: 'center',
                halign: 'center'
            }, {
                field: 'date_time',
                title: 'submit date',
                valign: 'middle',
                align: 'center',
                halign: 'center'
            }],
            /*
            {
            field: 'downloadlink',
            title: 'click to download',
            valign: 'middle',
            align: 'center',
            halign: 'center',
            formatter:function(value,row,index) {
                if (value.length>1) {

                    //var valuesplit = value.split(".");
                    //var address = '../static/download/' + valuesplit[0] + '/' + value;
                    //var returnhtml = "<a href=\"" + address + "\">download</a>"
                    //return [
                     //   returnhtml
                    //].join("")

                    return '<a href="/download_file/?file='+value+'">download</a>'
                }
                else {
                    return [
                        '<a href="#">wait...</a>'
                    ].join("")
                }
            }


        }],
        */

            responseHandler: function (res) {   //处理 从后端 返回的数据
                console.log(res);
                if (res == 0) {
                    alert('查询出问题！');
                } else {
                    var orderListData = res['rows'];
                    return orderListData;
                }
            },
            onLoadError: function (status) {
                console.log(status);
                $('#order_list').bootstrapTable('removeAll');
            }
        })
    }

    gethistory()

</script>

<script src="{% static "./footer.js" %}"></script>

</body>

</html>

