<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>decodeSAXS-submit</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">

</head>
<body>
<script src="{% static "./header.js" %}"></script>
<div align='center' class="jumbotron">
    <h1 class="display-3">Job ID : {{ id }}</h1>
    <p class="lead">You need to remember this Job ID, to check your result.</p>
    <hr class="my-4">

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/submit/" role="button">Back</a>
    </p>
</div>

<script src="{% static "./footer.js" %}"></script>
<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_assets/js/custom.js" %}"></script>

</body>

</html>

