<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>decodeSAXS-submit</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">

</head>
<style type="text/css">
    label {
        text-align: left;
        min-width: 25%;
        float: left;
        display: block;
        margin-left: 3%;
        text-transform: capitalize;
    }

    small {
        margin-left: 3%;
    }
</style>
<body>
<script src="{% static "./header.js" %}"></script>

<div class="page-header" id="banner" style="margin-left: 16%">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1 style="font-size: 40px">Submit DecodeSAXS Job</h1>
            <hr></hr>
        </div>
    </div>
</div>


<div style="margin-left:26%;margin-right:27%">
    <h5 style="float: left;color:cornflowerblue">Note:</h5>
    <h5 style="color:cornflowerblack">&nbsp You need to upload your SAXS data.</h5>
    <hr></hr>
</div>
<div style="margin-left: 26%;margin-right:27%">
    <form action="/getform/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label for="exampleInputFile">Upload SAXS Data:</label>
                <input type="file" required id="exampleInputFile" aria-describedby="fileHelp" name="up_file">
                <small id="fileHelp" class="form-text text-muted">You need to upload SAXS data, it must be ascii text
                    file<a href="https://github.com/DreAymi/SAXS_reconstruction/blob/master/SASDA25.dat">(DAT*)</a>,two
                    or three columns. or GNOM<a
                            href="https://github.com/DreAymi/SAXS_reconstruction/blob/master/SASDA25.out">(.out)</a>
                    file.
                </small>
            </div>
            <div class="form-group">
                <label for="jobname">Job Name:</label>
                <input type="text" minlength="4" size=50 required id="jobname" aria-describedby="jobHelp"
                       name="job_name">
                <small id="jobHelp" class="form-text text-muted">A job name must be given, more than 6 characters, used
                    to check job status in history page.
                </small>
            </div>
            <h5 style="float: left;color:cornflowerblue">Note:</h5>
            <h5>&nbsp the following parts are optional.</h5>
            <hr></hr>


            <div class="form-group">
                <label for="estimatermax">Estimate Maximum Radius:</label>
                <input type="text" placeholder="(Å)" size=50 id="estimatermax" aria-describedby="rmaxHelp"
                       name="estimate_rmax">
                <small id="rmaxHelp" class="form-text text-muted">You can give estimated maximum radius(Å), if not, the
                    program will fit its size information automatically.
                </small>
            </div>
            <!--
            <div class="form-group">
              <label for="PDBFile">Upload pdb file:</label>
              <input type="file" id="PDBFile" aria-describedby="uppdbHelp" name = "up_pdb">
              <small id="uppdbHelp" class="form-text text-muted">You can upload a pdb structure, and it will be aligned and compared with reconstruction model.</small>
            </div>
            -->

            <div class="form-group">
                <label for="sendemail">Email:</label>
                <input type="email" size=50 id="sendemail" aria-describedby="sendemailHelp" name="send_email">
                <small id="sendemailHelp" class="form-text text-muted">A email is used to send results, but sometimes it
                    doesn't work, so make sure you remember your Job ID after submitting.
                </small>
            </div>
            <div align="center" class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>

<div class="text" style=" text-align:center;">Contact email: <a href="">hehao1777@163.com</a></div>
<div class="text" style=" text-align:center;">If you find this program useful, please cite this work, the detailed
    information can be found here <a href="https://www.biorxiv.org/content/10.1101/691832v1.full">https://www.biorxiv.org/content/10.1101/691832v1.full</a>
</div>
<script src="{% static "./footer.js" %}"></script>

<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_assets/js/custom.js" %}"></script>

</body>

</html>

