<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>decodeSAXS-tutorial</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">

  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a style="font-size: x-large" href="/index/" class="navbar-brand">decodeSAXS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="font-size: large" class="nav-link" href="/index/">Home</a>
            </li>
            <li class="nav-item">
            <a style="font-size: large" class="nav-link" href="/submit/">Submit</a>
            </li>
            <li class="nav-item">
              <a style="font-size: large" class="nav-link" href="/check/">Check</a>
            </li>
            <li class="nav-item">
              <a style="font-size: large" class="nav-link" href="/history/">History</a>
            </li>
            <li class="nav-item">
                <div class="btn-group">
                    <button type="button" style="font-size: large;margin-top: 1px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Samples
                        <span class="caret"></span>
                    </button>
                    <ul width='10px' class="dropdown-menu" role="menu">
                        <li><a style="font-size: large;background-color: #476478" class="nav-link" href="/samples_withRmax/">withRmax</a></li>
                        <li><a style="font-size: large;background-color: #476478" class="nav-link" href="/samples_withoutRmax/">withoutRmax</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
              <a style="font-size: large" class="nav-link" href="/tutorial/">Tutorial</a>
            </li>
            <li><a style="font-size: large" class="nav-link" href="https://github.com/DreAymi/SAXS_reconstruction"><i aria-hidden="true"></i> GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-header" id="banner" style = "margin-left: 16%">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Tutorial</h1>
            <hr>
            <p>1.You need to upload your SAXS data, it must be ascii text file (DAT*), or GNOM (.out) file.</p>
            <p>&nbsp;&nbsp;If you upload (.out) file, you don't need to give estimated maximum radius(Å).</p>
            <p>&nbsp;&nbsp;If you upload (DAT*) file, you can give an estimated maximum radius(Å). If not, our project will fit one.</p>
            <p>2.After you submit your job, you will get a Job ID, you must remember this Job ID. you can use this Job ID to check (or download) your result on check page.</p>
            <p>3.You can check your job status (running or finished) in history page based on your jobname.</p>
            <p>4.You also can write your email address, this is used to send results after the reconstruction is finished, </p>
        	<p>&nbsp;&nbsp;but sometimes it doesn't work. So make sure you remember your job ID after your submission.</p>
            <p>5.Any questions or suggestions you can contact with us through email: hehao1777@163.com.</p>
          </div>
        </div>
    </div>
    <div style = "margin-left:16%; margin-top:4px; margin-right:16%">
      <hr></hr>
    </div>




<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_assets/js/custom.js" %}"></script>


<div class="text" style=" text-align:center;">Building 9, East Zone, ZPark II, No.10 East Xibeiwang Road, Haidian District, Beijing 100193, China</div>
<div class="text" style=" text-align:center;">Department of Complex System</div>

</body>

</html>

